@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}


.hero{
  background-image: url('/images/bg-image.png');
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  position:fixed;
  top:0;
  left:0;
  right:0;
}

footer>ul>li:hover{
  cursor: pointer;
}
.show-nav{
  transform:translateX(100%);
  transition: all ease-in-out 2s;
}

@media screen and (max-width:768px){
  nav{
    position:fixed;
    background-color:whitesmoke;
    top:34px;
    right:0;
    left:0;
    height:200px;
    transform:translateX(0%);
    transition:all ease-in-out 2s;
    flex-direction:column;
  }
}