@tailwind base;
@tailwind components;
@tailwind utilities;


.hero{
  background-image: url('/images/bg-image.png');
  background-repeat: no-repeat;
  background-size: cover;

}

header{
  position:fixed;
  top:0;
  left:0;
  right:0;
}