@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}


.hero{
  background-image: url('/images/bg-image.png');
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  position:fixed;
  top:0;
  left:0;
  right:0;
}

footer>ul>li:hover{
  cursor: pointer;
}
.show-nav{
  transform:translateX(0%);
  transition: all ease-in-out 2s;
}
.show{
	transform: rotate(45deg);
	position: relative;
	top: 6px;
	left: 1px;
}
.showw{
	transform: rotate(-45deg);
	position: relative;
	bottom: 6px;
}
.remove{
	display: none;
}

.hamburger{
  display:none
}

nav>ul{
  display:flex;
  flex-direction:row;
}

@media screen and (max-width:650px){
  nav{
    position:fixed;
    background-color:whitesmoke;
    top:34px;
    right:0;
    left:0;
    height:200px;
    transform:translateX(-100%);
    transition:all ease-in-out 2s;
    flex-direction:column;
  }
  nav>ul{
    flex-direction:column;
    gap:4px;
  }
  .hamburger{
    display: flex;
  flex-direction: column;
  height: 15px;
  justify-content: space-between;
  /* left: 0; */
  /* top: 2px; */
  /* position: fixed; */
  z-index: 999;
  }
}